datasets
model_states_sex
model_states_sexBasic
model_states_age
model_states
best_models
model_states_sexWithoutDama
model_states_ageDownsampled
model_states_AllSpp
model_states_sexRoeDeer

__pycache__
*.pyc

.vscode
.DS_Store

*.pt